<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beata Maro - Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="icon" href="" type="image/x-icon">

    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <!-- {% include "components/loader.html" %} -->
    {% include "components/header.html" %}
    {% include "components/home.html" %}
    {% include "components/about.html" %}
    {% include "components/skills.html" %}
    {% include "components/projects.html" %}
    {% include "components/contact.html" %}
    {% include "components/footer.html" %}

    <!-- <a href="https://pl.freepik.com/darmowe-zdjecie-wektory/sprzedaz">Sprzedaż plik wektorowy utworzone przez pch.vector - -->
    <!-- pl.freepik.com</a> -->

    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/anime.min.js"></script>
    <script src="js/demo.js"></script>
    <script src="js/demo3.js"></script>
</body>

</html>