<main>
    <section class="about">
        <h2>About me</h2>
        <p>
            I have been programming for almost two years.
            I do not have much experience, but I still learning on my own.
            I would like to be a part of a team and work of the commercial projects.
        </p>
        <p>
            I am very patient and little stubborn, so
            I don't give up even I facing problems to solve.
        </p>
        <p>Besides, I like watching stand-up comedy, travel channels and interviews with interesting people. Walking
            with
            my dog, spending time in beautiful places makes me happy.</p>


    </section>