<section class="about">
    <h2>About me</h2>
    <p>
        I have been programming for almost two years. Although I do not have much experience in it, I learn something
        new
        every day.
    </p>
    <p>
        I am a team player. I would love to be a part of a company and work on commercial projects. I am very patient
        and a
        little bit stubborn. This is why I am incredibly determined to never give up in finding solutions to difficult
        problems.
    </p>
    <p>Privately, I like watching stand-up comedy, travel channels and interviews with interesting people. What makes me
        happy is walking with my dog and spending time in nature.</p>


</section>