<main>
    <section class="about">
        <h2>O mnie</h2>
        <p>Naukę programowania rozpoczęłam blisko dwa lata temu.<br>
            W trudnych początkach pomogły mi <strong>studia podyplomowe</strong>.
            Na szczęście rozwiązywanie problemów napotkanych przy tworzeniu kodu ułatwia mi cierpliwość i wrodzona
            upartość, ale przede wszystkim poczucie satysfakcji ze znalezionego rozwiązania.
        </p>

        <p>
            Chciałabym rozpocząć pracę przy realnych projektach. Ważna jest dla mnie możliwość współpracy z zespołem
            doświadczonych programistów,
            od których będę mogła się uczyć w przyjaznej atmosferze.</p>
        </p>

        <p>
            Frameworki, z którymi pracuję to <strong>Vue.js</strong> oraz <strong>Angular</strong>, w którym stawiam
            pierwsze kroki.
        </p>

    </section>