<section class="contact">

    <h2>Contact</h2>
    <div class="contact__info">
        <div class="contact__icons">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-phone-volume"></i>
        </div>
        <div class="contact__data">
            <a href="mailto:maro.beata@gmail.com">

                <span>maro.beata@gmail.com</span>
            </a>
            <span>(+48) 511-909-309</span>
        </div>
    </div>

    <div class="contact__download">
        <a href="https://www.github.com/BeataMaro" target="_blank" class="link">
            <i class="fab fa-github ico ico--github"></i>

        </a>

        <a href="https://drive.google.com/file/d/1_kEbD7_NB3-s0ixcTmGlDSaeOcxaMe6f/view?usp=sharing"
            target="_blank"><img src="./img/pdf.svg" alt="css-logo" class="ico" title="CV" /></a>

    </div>




</section>

</main>