<section class="contact">

    <h2>Contact</h2>
    <div class="contact__info">
        <div class="contact__icons">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-phone-volume"></i>
        </div>
        <div class="contact__data">
            <a href="mailto:maro.beata@gmail.com">

                <span class="contact--mail">maro.beata@gmail.com</span>
            </a>
            <span>(+48) 511-909-309</span>
        </div>
    </div>

    <div class="contact__download">
        <a href="https://www.github.com/BeataMaro" target="_blank" class="link">
            <i class="fab fa-github ico"></i>

        </a>

        <a href="https://drive.google.com/file/d/1wkEmlqxJqfXAHRxSt890H2xvQjYUCqkU/view?usp=sharing" target="_blank">
            <i class="fas fa-file-contract ico"></i>
        </a>

    </div>

</section>

</main>