<header class='header' id="header">

    <div class='wrapper'>

        <div class="hamburger" id="hamburger">
            <div class="hamburger__wrapper">
                <div class="hamburger__top--left"></div>
                <div class="hamburger__top--right"></div>
                <div class="hamburger__mid"></div>
                <div class="hamburger__bot--left"></div>
                <div class="hamburger__bot--right"></div>
            </div>
        </div>
        <!-- <h1>Junior Front-end developer</h1> -->
        <!-- <h2>Beata Maro</h2> -->
        <nav>
            <ul class="menu" id="menu">
                <li class="menu__item active"><a href="#">Home</a></li>
                <li class="menu__item">About me</li>
                <li class="menu__item">Projects</li>
                <li class="menu__item">Skills</li>
                <li class="menu__item">Contact</li>
            </ul>
        </nav>

</header>