<section class="projects section slider">

    <div class="section__entry grid-center">

        <h2 class="section__title">Projects</h2>

    </div>

    <input type="radio" name="slider" id="slide-1" class="slider__radio">
    <input type="radio" name="slider" id="slide-2" class="slider__radio">
    <input type="radio" name="slider" id="slide-3" class="slider__radio" checked>
    <input type="radio" name="slider" id="slide-4" class="slider__radio">
    <input type="radio" name="slider" id="slide-5" class="slider__radio">

    <div class="slider__holder">

        <label for="slide-1" class="slider__item slider__item--1 card">
            <div class="slider__item-content">
                <img src="./img/project-screen-user-space.jpg" alt="project screen user space" title="User's space">
                <a href="https://github.com/BeataMaro/Users-space" target="_blank"><img class="githubIcon"
                        src="./img/logos/github.svg" alt="github icon" title="Github source"></img></a>
                <a href="https://beatamaro.github.io/Users-space/Public/#/" target="_blank"><img class="globeIcon"
                        src="./img/logos/globe.svg" alt="website icon" title="Demo"></img></a>
            </div>
        </label>

        <label for="slide-2" class="slider__item slider__item--2 card">
            <div class="slider__item-content">
                <img src="./img/project-screen-filmoteka.jpg" alt="project screen Filmoteka" title="Filmoteka">
                <a href="https://github.com/BeataMaro/Filmoteka" target="_blank">
                    <img class="githubIcon" src="./img/logos/github.svg" alt="github icon" title="Github source"></img>
                </a>
                <a href="https://beatamaro.github.io/Filmoteka/" target="_blank"><img class="globeIcon"
                        src="./img/logos/globe.svg" alt="website icon" title="Demo"></img></a>
            </div>
        </label>

        <label for="slide-3" class="slider__item slider__item--3 card">

            <div class="slider__item-content">
                <img src="./img/project-screen-dog-camp.jpg" alt="project screen dog camp" title="Dog Camp">
                <a href="https://github.com/BeataMaro/dog-camp" target="_blank"><img class="githubIcon"
                        src="./img/logos/github.svg" alt="github icon" title="Github source"></img></a>
                <a href="https://beatamaro.github.io/dog-camp/web" target="_blank"><img class="globeIcon"
                        src="./img/logos/globe.svg" alt="website icon" title="Demo"></img></a>
            </div>
        </label>

        <label for="slide-4" class="slider__item slider__item--4 card">
            <div class="slider__item-content">
                <img src="./img/project-screen-Infinity.jpg" alt="project screen Infinity Group" title="Infinity Group">
                <a href="https://github.com/BeataMaro/Infinity" target="_blank"><img class="githubIcon"
                        src="./img/logos/github.svg" alt="github icon" title="Github source"></img></a>
                <a href="https://beatamaro.github.io/Infinity/web/" target="_blank"><img class="globeIcon"
                        src="./img/logos/globe.svg" alt="website icon" title="Demo"></img></a>
            </div>
        </label>

        <label for="slide-5" class="slider__item slider__item--5 card">
            <div class="slider__item-content">
                <img src="./img/project-screen-portfolio.jpg" alt="project screen portfolio" title="Portfolio">
                <a href="https://github.com/BeataMaro/beatamaro.github.io" target="_blank"><img class="githubIcon"
                        src="./img/logos/github.svg" alt="github icon" title="Github source"></img></a>
                <a href="\" target="_blank"><img class="globeIcon" src="./img/logos/globe.svg" alt="website icon"
                        title="Demo"></img></a>
            </div>
        </label>

    </div>
    <!-- slider__holder -->
    <!-- bullets -->
    <div class="bullets">

        <label for="slide-1" class="bullets__item bullets__item--1"></label>
        <label for="slide-2" class="bullets__item bullets__item--2"></label>
        <label for="slide-3" class="bullets__item bullets__item--3"></label>
        <label for="slide-4" class="bullets__item bullets__item--4"></label>
        <label for="slide-5" class="bullets__item bullets__item--5"></label>

    </div>

</section>