<section class="skills grid-center" id="skills">

    <div class="icons">

        <div class="icons__wrapper">
            <img src="./img/logos/html-5.svg" alt="Html-logo" class="icons__item" />
            <img src="./img/logos/css-3.svg" alt="Css3-logo" class="icons__item" />
            <img src="./img/logos/javascript.svg" alt="JavaScript-logo" class="icons__item" />

        </div>
        <div class="icons__wrapper">
            <img src="./img/logos/angular.svg" alt="Angular-logo" class="icons__item" />

            <img src="./img/logos/vue.svg" alt="Vue-logo" class="icons__item" />

        </div>
        <div class="icons__wrapper">
            <img src="./img/logos/sass.svg" alt="sass-logo" class="icons__item" />

        </div>
    </div>

    </div>


</section>