/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,900,900i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Charmonman:400,700&display=swap&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  overflow: hidden; }

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-image: url(../img/pawel-czerwinski-background-unsplash.jpg);
  background-size: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1200px) {
    body {
      max-width: 100%; } }

html {
  color: #e6ebeb;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth; }

::-moz-selection {
  color: #ffe066; }

::selection {
  color: #ffe066; }

section {
  position: absolute;
  right: 0;
  -webkit-transition: 550ms ease-in-out;
  transition: 550ms ease-in-out;
  pointer-events: none;
  overflow: visible;
  background: #141414; }

a {
  text-decoration: none;
  color: inherit; }

.grid-center {
  display: grid;
  place-items: center; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center; }

h1,
h2 {
  text-align: center;
  font-family: inherit; }

h2 {
  font-family: 'Charmonman', cursive;
  font-size: 2rem; }

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #e6ebeb;
  z-index: 1000; }
  .preloader .loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #141414; }
    .preloader .loader .counter {
      position: fixed;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      font-family: 'Charmonman', cursive;
      font-size: 7rem;
      font-weight: 900;
      color: #e6ebeb;
      mix-blend-mode: difference; }

.header {
  position: absolute; }
  .header .hamburger {
    cursor: pointer;
    position: relative;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 70px;
    margin: 1rem;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background: #141414;
    overflow: hidden;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 200; }
    @media screen and (min-width: 1200px) {
      .header .hamburger {
        background: #141414;
        margin: 1rem; } }
    .header .hamburger:hover .hamburger__top--left,
    .header .hamburger:hover .hamburger__top--right,
    .header .hamburger:hover .hamburger__bot--left,
    .header .hamburger:hover .hamburger__bot--right,
    .header .hamburger:hover .hamburger__mid {
      background: #e6ebeb; }
    .header .hamburger__wrapper {
      position: relative;
      width: 30px;
      height: 30px;
      padding: 2px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: auto;
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transition: .4s ease;
      transition: .4s ease;
      animation: pulse 1s infinite alternate-reverse; }
      body.open .header .hamburger__wrapper {
        -webkit-animation: none;
                animation: none;
        -webkit-transform: scale(0.5);
                transform: scale(0.5); }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
    .header .hamburger__top--left, .header .hamburger__top--right, .header .hamburger__bot--left, .header .hamburger__bot--right {
      position: absolute;
      width: 15px;
      height: 2px;
      background: #6e6e73;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    .header .hamburger__mid {
      width: 30px;
      height: 2px;
      background: #6e6e73;
      position: absolute;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    .header .hamburger__top--left {
      top: 0;
      left: 0;
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
      -webkit-transform: translateY(5px);
              transform: translateY(5px); }
    .header .hamburger__top--right {
      top: 0;
      right: 0;
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      -webkit-transform: translateY(5px);
              transform: translateY(5px); }
    .header .hamburger__bot--left {
      bottom: 0;
      left: 0;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
    .header .hamburger__bot--right {
      bottom: 0;
      right: 0;
      -webkit-transform-origin: 100% 0;
              transform-origin: 100% 0;
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
    body.open .header .hamburger .hamburger__top--left {
      -webkit-transform: rotate(45deg) scaleX(1.3) translateY(0);
              transform: rotate(45deg) scaleX(1.3) translateY(0); }
    body.open .header .hamburger .hamburger__top--right {
      -webkit-transform: rotate(-45deg) scaleX(1.3) translateY(0);
              transform: rotate(-45deg) scaleX(1.3) translateY(0); }
    body.open .header .hamburger .hamburger__bot--left {
      -webkit-transform: rotate(-45deg) scaleX(1.3) translateY(0);
              transform: rotate(-45deg) scaleX(1.3) translateY(0); }
    body.open .header .hamburger .hamburger__bot--right {
      -webkit-transform: rotate(45deg) scaleX(1.3) translateY(0);
              transform: rotate(45deg) scaleX(1.3) translateY(0); }
    body.open .header .hamburger .hamburger__mid {
      background: transparent;
      -webkit-transform: translateX(40px);
              transform: translateX(40px); }
    body.open .header .hamburger .hamburger__bot {
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transform: rotate(-45deg) translateY(0);
              transform: rotate(-45deg) translateY(0); }
  .header nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    background: black;
    padding: 2rem;
    border-radius: 0 0 36px 0;
    -webkit-transition: 300ms ease;
    transition: 300ms ease; }
    body.open .header nav {
      left: 0;
      z-index: 150; }
    body.Aboutme .header nav,
    body.Projects .header nav,
    body.Skills .header nav,
    body.Contact .header nav {
      left: -100%; }
    .header nav body.Aboutme,
    body.open .header nav,
    .header nav body.Projects,
    body.open .header nav,
    .header nav body.Skills,
    body.open .header nav,
    .header nav body.Contact,
    body.open .header nav {
      left: 0; }
    .header nav .menu {
      height: 100%;
      padding: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
      .header nav .menu .active {
        cursor: pointer;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        text-decoration: overline;
        color: #32c8fa; }
      @media screen and (min-width: 1200px) {
        .header nav .menu {
          padding-top: 5rem; } }
      .header nav .menu__item {
        cursor: pointer;
        font-size: 1.2rem;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 1rem;
        letter-spacing: 1.5px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        .header nav .menu__item:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          text-decoration: overline;
          color: #f25f5c; }
        .header nav .menu__item:active {
          color: #ffe066; }

.home {
  background: transparent;
  top: 30%;
  opacity: 1;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none; }
  @media screen and (min-width: 768px) {
    .home {
      top: 40%; } }
  @media screen and (min-width: 1200px) {
    .home {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }
  .home h1 {
    color: #e6ebeb;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 1rem; }
    @media screen and (min-width: 768px) {
      .home h1 {
        font-size: 4rem; } }
  .home h2 {
    font-size: 3rem;
    font-weight: 900;
    color: salmon;
    position: relative;
    overflow: visible;
    margin-top: 1rem; }
    .home h2::before {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: -150%;
      width: 100%;
      height: 200%;
      z-index: -1;
      background: black;
      padding: 3rem; }
      @media screen and (min-width: 768px) {
        .home h2::before {
          height: 200%;
          top: -250%; } }
      @media screen and (min-width: 1200px) {
        .home h2::before {
          height: 300%;
          top: -250%;
          left: -5rem; } }
  body.Aboutme .home,
  body.Skills .home,
  body.Projects .home,
  body.Contact .home {
    opacity: 0; }

.projects {
  z-index: 40;
  height: 80vh; }
  @media screen and (min-width: 1200px) {
    .projects {
      height: 85vh;
      padding-bottom: 1rem;
      background: black; } }

.card {
  position: relative;
  display: block;
  border-radius: 8px;
  height: 8.5em;
  width: 10em;
  background: #141414;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: visible; }
  @media screen and (min-width: 768px) {
    .card {
      height: 17em; } }

.slider {
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body.Projects .slider {
    opacity: 1;
    pointer-events: auto; }
  .slider__radio {
    display: none; }
  .slider__holder {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    overflow: visible; }
    @media (max-width: 900px) {
      .slider__holder {
        max-width: 540px; } }
    @media (max-width: 600px) {
      .slider__holder {
        max-width: 400px;
        margin-top: 60px; } }
  .slider__item {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 80%;
    opacity: 1;
    -webkit-transition: 350ms ease-in;
    transition: 350ms ease-in; }
    @media screen and (min-width: 768px) {
      .slider__item {
        width: 100%; } }
    .slider__item:hover img {
      opacity: 0.5; }
    .slider__item:hover .globeIcon,
    .slider__item:hover .githubIcon {
      display: block;
      border-radius: 50%;
      opacity: 1; }
    .slider__item img {
      max-width: 100%;
      -webkit-transition: 0.8s ease-in-out;
      transition: 0.8s ease-in-out;
      -webkit-transform-origin: center;
              transform-origin: center; }
  .slider__item-content .globeIcon,
  .slider__item-content .githubIcon {
    cursor: pointer;
    position: absolute;
    padding: 2rem;
    width: 70px;
    z-index: 100;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    display: none; }
    @media screen and (min-width: 768px) {
      .slider__item-content .globeIcon,
      .slider__item-content .githubIcon {
        width: 120px; } }
    .slider__item-content .globeIcon:hover,
    .slider__item-content .githubIcon:hover {
      opacity: 1;
      padding: 1rem;
      background: rgba(230, 235, 235, 0.5); }
  .slider__item-content .globeIcon {
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-70%, -50%);
            transform: translate(-70%, -50%); }
    @media screen and (max-width: 768px) {
      .slider__item-content .globeIcon {
        top: 50%;
        right: 10%; } }
  .slider__item-content .githubIcon {
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%); }

.bullets {
  z-index: 100;
  display: block;
  width: auto;
  height: 10px;
  height: 10px;
  margin-top: 1rem;
  text-align: center;
  overflow: visible; }
  @media (max-width: 768px) {
    .bullets {
      margin-top: 1rem; } }
  .bullets__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    background: rgba(110, 110, 115, 0.6);
    cursor: pointer; }
    .bullets__item:hover {
      background: #e6ebeb; }

.section {
  position: relative;
  width: 100%;
  text-align: center; }
  .section__entry {
    width: 100%;
    height: 30vh;
    background: #141414;
    background-image: url(../img/pawel-czerwinski-background-unsplash.jpg);
    background-size: cover;
    background-position: left; }
    .section__entry__title {
      display: block; }

/* Functionality
----------------------------------------------------------------


Define number of slides
Variables*/
.slider__item {
  -webkit-transition: 250ms ease;
  transition: 250ms ease; }
  #slide-1:checked ~ .slider__holder .slider__item--1 {
    position: relative;
    z-index: 2;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); }
  #slide-2:checked ~ .slider__holder .slider__item--1 {
    z-index: 1;
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-2:checked ~ .slider__holder .slider__item--1 {
        opacity: 0.6; } }
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    z-index: 0;
    -webkit-transform: translateX(-210px) scale(0.65);
            transform: translateX(-210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-3:checked ~ .slider__holder .slider__item--1 {
        -webkit-transform: translateX(-170px) scale(0.65);
                transform: translateX(-170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--1 {
        opacity: 0; } }
  #slide-4:checked ~ .slider__holder .slider__item--1 {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(-210px) scale(0.65);
            transform: translateX(-210px) scale(0.65); }
  #slide-5:checked ~ .slider__holder .slider__item--1 {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(-210px) scale(0.65);
            transform: translateX(-210px) scale(0.65); }
  #slide-1:checked ~ .slider__holder .slider__item--2 {
    z-index: 1;
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-1:checked ~ .slider__holder .slider__item--2 {
        opacity: 0.6; } }
  #slide-2:checked ~ .slider__holder .slider__item--2 {
    position: relative;
    z-index: 2;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); }
  #slide-3:checked ~ .slider__holder .slider__item--2 {
    z-index: 1;
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--2 {
        opacity: 0.6; } }
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    z-index: 0;
    -webkit-transform: translateX(-210px) scale(0.65);
            transform: translateX(-210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-4:checked ~ .slider__holder .slider__item--2 {
        -webkit-transform: translateX(-170px) scale(0.65);
                transform: translateX(-170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-4:checked ~ .slider__holder .slider__item--2 {
        opacity: 0; } }
  #slide-5:checked ~ .slider__holder .slider__item--2 {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(-210px) scale(0.65);
            transform: translateX(-210px) scale(0.65); }
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    z-index: 0;
    -webkit-transform: translateX(210px) scale(0.65);
            transform: translateX(210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-1:checked ~ .slider__holder .slider__item--3 {
        -webkit-transform: translateX(170px) scale(0.65);
                transform: translateX(170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-1:checked ~ .slider__holder .slider__item--3 {
        opacity: 0; } }
  #slide-2:checked ~ .slider__holder .slider__item--3 {
    z-index: 1;
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-2:checked ~ .slider__holder .slider__item--3 {
        opacity: 0.6; } }
  #slide-3:checked ~ .slider__holder .slider__item--3 {
    position: relative;
    z-index: 2;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); }
  #slide-4:checked ~ .slider__holder .slider__item--3 {
    z-index: 1;
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-4:checked ~ .slider__holder .slider__item--3 {
        opacity: 0.6; } }
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    z-index: 0;
    -webkit-transform: translateX(-210px) scale(0.65);
            transform: translateX(-210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-5:checked ~ .slider__holder .slider__item--3 {
        -webkit-transform: translateX(-170px) scale(0.65);
                transform: translateX(-170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-5:checked ~ .slider__holder .slider__item--3 {
        opacity: 0; } }
  #slide-1:checked ~ .slider__holder .slider__item--4 {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(210px) scale(0.65);
            transform: translateX(210px) scale(0.65); }
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    z-index: 0;
    -webkit-transform: translateX(210px) scale(0.65);
            transform: translateX(210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-2:checked ~ .slider__holder .slider__item--4 {
        -webkit-transform: translateX(170px) scale(0.65);
                transform: translateX(170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-2:checked ~ .slider__holder .slider__item--4 {
        opacity: 0; } }
  #slide-3:checked ~ .slider__holder .slider__item--4 {
    z-index: 1;
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--4 {
        opacity: 0.6; } }
  #slide-4:checked ~ .slider__holder .slider__item--4 {
    position: relative;
    z-index: 2;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); }
  #slide-5:checked ~ .slider__holder .slider__item--4 {
    z-index: 1;
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-5:checked ~ .slider__holder .slider__item--4 {
        opacity: 0.6; } }
  #slide-1:checked ~ .slider__holder .slider__item--5 {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(210px) scale(0.65);
            transform: translateX(210px) scale(0.65); }
  #slide-2:checked ~ .slider__holder .slider__item--5 {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(210px) scale(0.65);
            transform: translateX(210px) scale(0.65); }
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    z-index: 0;
    -webkit-transform: translateX(210px) scale(0.65);
            transform: translateX(210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-3:checked ~ .slider__holder .slider__item--5 {
        -webkit-transform: translateX(170px) scale(0.65);
                transform: translateX(170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--5 {
        opacity: 0; } }
  #slide-4:checked ~ .slider__holder .slider__item--5 {
    z-index: 1;
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-4:checked ~ .slider__holder .slider__item--5 {
        opacity: 0.6; } }
  #slide-5:checked ~ .slider__holder .slider__item--5 {
    position: relative;
    z-index: 2;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); }

.bullets__item {
  -webkit-transition: 250ms ease;
  transition: 250ms ease; }
  #slide-1:checked ~ .bullets .bullets__item--1 {
    background: #e6ebeb; }
  #slide-2:checked ~ .bullets .bullets__item--2 {
    background: #e6ebeb; }
  #slide-3:checked ~ .bullets .bullets__item--3 {
    background: #e6ebeb; }
  #slide-4:checked ~ .bullets .bullets__item--4 {
    background: #e6ebeb; }
  #slide-5:checked ~ .bullets .bullets__item--5 {
    background: #e6ebeb; }

.skills {
  top: 20%;
  right: -600%;
  padding: 2rem;
  -webkit-box-shadow: 0 1px 12px 0 black;
          box-shadow: 0 1px 12px 0 black;
  border-radius: 20px 0 0 20px;
  z-index: 20; }
  @media screen and (min-width: 768px) {
    .skills {
      top: initial;
      width: 50%; } }
  .skills .icons {
    width: 100%;
    min-height: 40vh;
    display: block; }
    .skills .icons__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .skills .icons__item {
      width: 80px;
      margin-right: 1rem;
      margin-top: 1rem; }
    .skills .icons span {
      margin-left: 20px; }
  body.Skills .skills {
    right: 0; }

.about {
  width: 100%;
  line-height: 1.8;
  padding: 4rem 1rem 1rem;
  border-radius: 0 0 0 20px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  opacity: 0;
  z-index: 40;
  background-color: rgba(20, 20, 20, 0.9);
  background-size: cover;
  background-image: url(../img/pawel-czerwinski-background-unsplash.jpg);
  background-position: 100%; }
  @media screen and (min-width: 768px) {
    .about {
      background-image: none;
      width: 80%;
      padding: 3rem; } }
  .about h2 {
    line-height: 1.4;
    padding-top: 3rem; }
  .about p {
    color: #c8c8c8;
    margin: 1rem; }
  .about strong {
    color: #e6ebeb; }
  body.Aboutme .about {
    opacity: 1; }

.contact {
  top: 20%;
  opacity: 0;
  padding: 2rem;
  -webkit-box-shadow: 0 1px 12px 0 black;
          box-shadow: 0 1px 12px 0 black;
  border-radius: 20px 0 0 20px;
  z-index: 50; }
  @media screen and (min-width: 1200px) {
    .contact {
      top: 10%;
      left: 50%;
      padding-right: 0; } }
  .contact h2 {
    text-align: left;
    margin-bottom: 1rem; }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .contact--mail {
    -webkit-transition: 250ms ease;
    transition: 250ms ease; }
    .contact--mail:hover {
      color: #32c8fa; }
  .contact__icons {
    display: inline-grid;
    grid-gap: 1rem;
    font-size: 1.2rem; }
    @media screen and (min-width: 768px) {
      .contact__icons {
        font-size: 1.5rem; } }
  .contact__data {
    display: grid;
    width: 100%;
    font-size: 1.2rem;
    padding-left: 1rem; }
    @media screen and (min-width: 768px) {
      .contact__data {
        font-size: 1.5rem; } }
  .contact__download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    @media screen and (min-width: 1200px) {
      .contact__download {
        width: 50%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .contact__download .ico {
      cursor: pointer;
      font-size: 6rem;
      -webkit-transition: .4s ease-in;
      transition: .4s ease-in; }
      @media screen and (min-width: 768px) {
        .contact__download .ico {
          font-size: 8rem; } }
      .contact__download .ico:hover {
        color: #32c8fa; }
  body.Contact .contact {
    opacity: 1;
    pointer-events: auto; }

.footer {
  background: #141414;
  text-align: center;
  color: #6e6e73;
  padding: 1rem;
  width: 100vw;
  position: absolute;
  bottom: 0; }
