.about {
  width: 100%;
  line-height: 2;
  padding: 2 * $space;
  border-radius: 0 0 0 20px;
  transition: 250ms ease-in-out;
  opacity: 0;
  z-index: -1;

  @include tablet {
    width: 80%;
    padding: 4 * $space;
  }


  h2 {

    line-height: 1.4;
    padding-top: 3 * $space;

  }

  p {
    color: $grey;
    margin: $space;

    @include tablet {}
  }

  strong {
    color: $white;
  }

  body.Aboutme & {
    opacity: 1;
  }
}