.about {

  width: 65%;
  line-height: 2;
  border-radius: 0 0 0 20px;
  transition: 250ms ease-in-out;
  opacity: 0;

  @media screen and (min-width: 768px) {

    padding: 4 * $space;
    width: 60%;
  }

  h2 {

    margin-bottom: 2rem;
    line-height: 1.4;
  }

  p {

    color: $grey;
  }

  strong {
    color: $white;
  }

  body.Aboutme & {
    opacity: 1;
  }
}