.about {

  width: 100%;
  padding: 6 * $space;
  line-height: 2;
  border-radius: 0 0 0 20px;
  // overflow: hidden;
  transition: 250ms ease-in-out;
  opacity: 0;
  z-index: -1;

  @media screen and (min-width: 768px) {

    // padding: $space;
    // width: 60%;
  }

  h2 {

    margin: 4rem;
    line-height: 1.4;
  }

  p {

    color: $grey;
  }

  strong {
    color: $white;
  }

  body.Aboutme & {
    opacity: 1;
  }
}