.contact {


    top: 20%;
    opacity: 0;
    padding: 2 * $space;
    box-shadow: 0 1px 12px 0 black;
    border-radius: 20px 0 0 20px;
    z-index: 50;

    @include tablet {

        padding: 5 * $space;
        top: 0;

    }

    h2 {

        text-align: left;
        margin-bottom: $space;
    }

    &__info {

        display: flex;
        width: 100%;

    }

    &--mail {
        transition: 250ms ease;

        &:hover {
            color: $sky-blue;
        }
    }

    &__icons {
        display: inline-grid;
        grid-gap: $space;
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__data {
        display: grid;
        width: 100%;
        font-size: 1.2rem;
        padding-left: $space;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__download {

        display: flex;
        padding: $space;
        justify-content: space-evenly;

        .ico {

            cursor: pointer;
            font-size: 6rem;
            transition: .4s ease-in;

            @include tablet {
                font-size: 8rem;
            }

            &:hover {

                color: $sky-blue;
            }
        }
    }

    body.Contact & {

        opacity: 1;
        pointer-events: auto;
    }
}