.footer {

    background: $black;
    text-align: center;
    color: $grey;
    padding: $space;
    width: 100%;
    position: absolute;
    bottom: -35%;
    opacity: 0;

    body.Aboutme & {

        bottom: -30%;

        @media screen and (max-width: 768px) {

            bottom: -120%;
        }

    }

    body.Projects & {

        bottom: -160%;

        @media screen and (max-width: 768px) {

            bottom: -170%;
        }
    }
}