//VARIABLES

$white: rgb(230, 235, 235);
$black: rgb(20, 20, 20);
$deep-black: black;
$grey: rgb(110, 110, 115);
$sky-blue: rgb(50, 200, 250);
$blue: #95c7df;

$color1: rgba(80, 81, 79, 1);
$color2: rgba(242, 95, 92, 1);
$color3: rgba(255, 224, 102, 1);
$color4: rgba(36, 123, 160, 1);
$color5: rgba(112, 193, 179, 1);




$space: 1rem;
$bp-tablet: 768px;
$bp-desktop: 1200px;

//mixins

@mixin tablet {
    @media screen and (min-width: $bp-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $bp-desktop) {
        @content;
    }
}

//

* {
    overflow: hidden;
}


body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $deep-black;
    background-image: url(../img/pawel-czerwinski-background-unsplash.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    @include desktop {

        max-width: 100%;

    }

}


html {
    color: $white;
    font-family: 'Raleway',
        sans-serif;
    scroll-behavior: smooth;
}


::selection {

    color: $color3;
}


section {

    position: absolute;
    right: 0;
    transition: 550ms ease-in-out;
    pointer-events: none;
    overflow: visible;
    background: $black;

}


a {
    text-decoration: none;
    color: inherit;
}

.grid-center {

    display: grid;
    place-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

//TYPOGRAPHY

h1,
h2 {

    text-align: center;
    font-family: inherit;
}

h2 {

    font-family: 'Charmonman',
        cursive;
    font-size: 2rem;
}