.home {

    background: transparent;
    opacity: 1;
    top: 30%;


    @media screen and (max-width: 768px) {
        top: 40%;

    }

    h1 {

        color: $black;
        text-shadow: 2px 1px $color1;
        font-size: 3rem;
        font-weight: bolder;
        line-height: 1.2;
        margin-bottom: 4rem;
        background: rgba($black, .2);


        @media screen and (min-width: 768px) {

            font-size: 4rem;
            margin-bottom: 2rem;
        }
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 5px 1px $black;
        letter-spacing: 5px;
        color: $color3;


        @media screen and (min-width: 768px) {
            margin-top: $space;
            font-size: 3rem;
        }
    }

    body.Aboutme &,
    body.Skills &,
    body.Projects &,
    body.Contact & {

        opacity: 0;
    }
}