.home {

    background: transparent;
    opacity: 1;
    display: grid;
    place-items: center;
    top: 35%;
    width: 100%;

    h1 {

        color: $black;
        font-size: 3rem;
        font-weight: bolder;
        line-height: 1.2;
        margin-bottom: 4 * $space;


        @include desktop {

            font-size: 4rem;
            margin-bottom: 2 * $space;
        }
    }

    h2 {

        font-size: 5rem;
        font-weight: 500;
        text-shadow: 2px 0 $black;
        color: $color3;


        @include tablet {
            margin-top: $space;
            font-size: 3rem;
        }
    }

    body.Aboutme &,
    body.Skills &,
    body.Projects &,
    body.Contact & {

        opacity: 0;
    }
}