.home {

    background: transparent;
    top: 30%;
    opacity: 1;
    width: 100%;
    box-shadow: none;

    @include tablet {

        top: 40%;
    }

    @include desktop {
        top: 50%;
        left: 65%;
        transform: translate(-60%, -50%);
    }


    h1 {

        color: $white;
        font-size: 2.5rem;
        font-weight: bolder;
        margin-top: $space;

        @include tablet {

            font-size: 4rem;
        }
    }

    h2 {

        font-size: 3rem;
        font-weight: 900;
        color: salmon;
        position: relative;
        overflow: visible;
        margin-top: $space;

        &::before {

            content: '';
            display: flex;
            position: absolute;
            top: -150%;
            width: 100%;
            height: 200%;
            z-index: -1;
            background: $deep-black;
            padding: 3 * $space;

            @include tablet {

                height: 200%;
                top: -250%;
            }

            @include desktop {

                height: 300%;
                top: -250%;
                left: -4 * $space;
            }
        }
    }

    body.Aboutme &,
    body.Skills &,
    body.Projects &,
    body.Contact & {

        opacity: 0;
    }
}