.skills {
    right: -600%;
    z-index: 20;
    background: $black;
    box-shadow: 0 1px 12px 0 black;

    @media screen and (min-width: 768px) {

        width: 60%;
    }


    .icons {

        width: 100%;
        min-height: 40vh;
        display: block;

        &__wrapper {

            display: flex;

        }

        &__item {
            width: 80px;
            margin-right: $space;
            margin-top: $space;
        }
    }

    body.Skills & {
        right: 0;
    }
}