@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,300;1,500&display=swap');

// $font-family-base: 'Raleway', sans-serif;

@import 'bootstrap';

// variables
$darkGrey: #2b2b35;
$chaber: #6a68e0;
$honey: #bbb235;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $honey;
  color: white;
}

body {
  padding-top: 7rem;

  &.darkened-body {
    body {
      pointer-events: none;
      color: $darkGrey;
    }
    div.overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  }

  div.overlay {
    display: none;
  }
  .section {
    scroll-padding-top: 5rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  header {
    .section-hero {
      background-image: url('../assets/images/wall-yeon-li--unsplash.jpg');
      background-repeat: no-repeat;
      height: 80vh;
    }
    nav {
      z-index: 100;

      .nav-link {
        transition: 0.2s ease;
        &:hover {
          color: $honey;
        }
        &.active-section {
          background-color: $honey;
          color: white;
        }
      }
    }
    .hero-text {
      color: $darkGrey;
    }
  }
  main {
    .profile-image {
      opacity: 0.8;
      z-index: -1;
    }

    .section-skills {
      .tech-icon {
        width: 12rem;
        margin-top: 2rem;
      }
    }

    .section-contact {
      background-color: $darkGrey;
      color: rgb(167, 175, 202);
      
      .contact-icon {
        width: 4rem;
      }
      .linkedin-icon {
        width: 5rem;
      }
    }
  }

  .footer-icon {
    width: 6rem;
  }
}
