// $primary: yellow;
// $navy: #182b47;

@import 'bootstrap';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 7rem;
  position: relative;

  &.darkened-body {
    body {
      pointer-events: none;
    }
    div.overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  }

  div.overlay {
    display: none;
  }

  nav {
    z-index: 100;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .tech-icon {
      width: 10rem;
    }

    .contact-icon {
      width: 3rem;
    }
  }

  .footer-icon {
    width: 4rem;
  }
}
