@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');
@import 'bootstrap';

// variables
$darkNavy: #2a3140;
$greyBrown: #cccbc5;
$darkGrey: #777d8d;
$seaColor: #00afa0;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: $seaColor;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .2s ease;

  &:hover {
    color: $seaColor;
  }
}

strong {
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-background {
  &::before {
    content: '';
    position: absolute;
    background-image: url('../assets/images/katsia-jazwinska-cTA8m7VwejE-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: top;
    filter: blur(.3rem);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &_hero {
    &::before {
      background-image: url('../assets/images/domenico-loia-hGV2TfOh0ns-unsplash.jpg');
    }
  }
}

body {
  font-family: 'Orbitron', sans-serif;
  overflow-x: clip;
  background-color: $greyBrown;

  &.darkened-body {
    body {
      pointer-events: none;
      color: $darkGrey;
    }
    div.overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  }

  div.overlay {
    display: none;
  }
  .section {
    padding: 4rem 1rem;
    position: relative;

    @media (min-width: 1200px) {
      margin: 4rem auto;
      padding: 4rem 0;
    }
  }
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  header {
    .section-hero {
      background-color: $greyBrown;
      padding: 0;
      height: 100vh;

      &_text {
        border-radius: 1.2rem;
        background: rgba(255, 255, 255, 0.5);
        font-size: 1rem;

        @media (min-width: 768px) {
          font-size: inherit;
        }
      }
    }
    nav {
      z-index: 100;

      select {
        padding: 1rem;
        border-radius: 1.2rem;
        border: none;
        align-self: start;

        @media (min-width: 768px) {
          margin-left: 1rem;
        }

        &:active {
          border: 1px solid $darkGrey;
        }
      }

      .navbar-collapse {
        flex-grow: 0 !important;
        flex-basis: 90%;
        border-radius: 1.2rem 0 0 2rem;

        @media (min-width: 768px) {
          flex-basis: 100%;
          border-radius: 1.2rem;
        }
      }

      .nav-link {
        transition: 0.2s ease;
        &:hover {
          color: $seaColor;
        }
        &.active-section {
          color: $seaColor;
        }
      }
    }
    .hero-text {
      color: $darkGrey;
    }
  }
  main {
    .section-about {
      p {
        line-height: 1.8;
      }
    }
    .section-skills {
      background-color: #fff;
      position: relative;

      .tech-logo {
        width: 80%;
        
        @media (min-width: 768px) {
          width: 45%;
        }
      }
    }
    .section-portfolio {
      .card {
        transition: 0.2s linear;
        cursor: pointer;
        .tech-icon {
          width: 50px;
        }
        &:hover {
          background-color: $greyBrown;
        }
      }
    }
    .section-contact {
      color: $darkNavy;

      .contact-icon {
        width: 4rem;
      }
    }
  }

  .footer-container {
    background-color: $darkGrey;

    .footer-icon {
      width: 6rem;
    }
  }
}
